@import "tailwindcss";

* {
  cursor: none;
}
html, body {
  overflow-x: clip;
  width: 100%;
}


@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    /* Agar 2 sets hain toh -50%, agar 3 sets hain toh -33.33% */
    transform: translateX(-33.333%); 
  }
}
.animate-marquee {
  display: flex;
  width: max-content;
  white-space: nowrap;
  animation: marquee var(--duration, 20s) linear infinite;
  will-change: transform; /* Performance fix for mobile */
}

/* Optional: Hover karne par ruk jayega */
.animate-marquee:hover {
  animation-play-state: paused;
}
